services:
  mariadb:
    image: vida-mais-facil/database
    restart: always
    profiles:
      - backend
      - production
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    env_file:
      - ./mariadb/.env
    volumes:
      - mariadb-data:/var/lib/mysql

  adminer:
    image: adminer:latest
    restart: always
    profiles:
      - admin
    ports:
      - 8080:8080

  backend:
    image: vida-mais-facil/backend
    pull_policy: never
    container_name: backend
    profiles:
      - backend
      - production
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    build: 
      context: ./backend
      dockerfile: Dockerfile
      target: production-stage
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env

  frontend:
    image: vida-mais-facil/frontend
    pull_policy: never
    container_name: frontend
    profiles:
      - production
    depends_on:
      - backend
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      target: production-stage
    ports:
      - 5000:80

volumes:
  mariadb-data: